.section--primary
  .container--offset
    %h1= @article.title
    = MarkdownHelper.markdown(@article.article_summary)

%section#content{ tabindex: "0" }
  .container.flex--2__2-1
    %article
      = MarkdownHelper.markdown(@article.article_body)

    %aside
      = link_to 'Download as PDF', article_path(article_id: @article.graph_id, pdf: true), class: 'btn--primary'
      - if @related_articles
        .block.theme--grey-4
          %h2= 'Related Articles'
          %ul.list--pipe
            - @related_articles.each do |article|
              %li
                .list--details
                  = link_to(article.article_title, article_path(article.graph_id))
